@model SearchFormViewModel

<ul>
	@foreach (var genre in Model.Genres)
	{
		<li>@genre.Name</li>
	}
</ul>

<ul>
	@foreach (var actor in Model.Actors)
	{
		<li>@actor.FirstName @actor.LastName</li>
	}
</ul>

<form asp-action="Search" asp-controller="Home" method="post">
	<div class="row">
		<div class="col-6">

		</div>
	</div>
</form>
