@model IEnumerable<MovieViewModel>

<h2 class="p-2">Movies</h2>

@foreach (var movie in Model)
{
	<partial name="MovieSummary" model="movie" />
}

<nav>
	<ul pagination-action="Index" pagination-controller="Home"
		pagination-options="@(ViewBag.Pagination as PaginationOptions)"
		pagination-item="page-item" pagination-link="page-link" pagination-item-active="active"
		pagination-item-disabled="disabled"
		class="pagination justify-content-center mt-4"></ul>
</nav>