@model MoviesListViewModel

<h2>Genres</h2>
<ul>
	@foreach (Genre genre in Model.Genres)
	{
		<li>@genre.Name</li>
	}
</ul>


<h2>Actors</h2>
<ul>
	@foreach (Actor actor in Model.Actors)
	{
		<li>@actor.FullName</li>
	}
</ul>