@model NavigationMenuModel[]

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

	@foreach (var menu in Model)
	{
		<li><a asp-action="@menu.Action" asp-controller="@menu.Controller"
			   class="nav-link px-2 text-white">@menu.Name</a></li>
	}
</ul>