@model IEnumerable<Genre>

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
	<span class="d-flex align-items-center flex-shrink-0 p-2 link-dark text-decoration-none border-bottom fs-5 fw-semibold">Genres</span>
	<div class="list-group list-group-flush border-bottom scrollarea">
		@foreach (Genre genre in Model)
		{
			<a asp-action="Index" asp-controller="Home" asp-route-genre="@genre.Name"
			   class="list-group-item list-group-item-action p-2 lh-tight">
				<div class="d-flex w-100 align-items-center justify-content-between">
					<strong class="mb-1">@genre.Name</strong>
				</div>
				<div class="col-10 mb-1 small">Description</div>
			</a>
		}
	</div>
</div>